Pillow==3.1.0
colorama==0.3.6
cycler==0.9.0
decorator==4.0.6
matplotlib==1.5.1
networkx==1.11
nose==1.3.7
numpy==1.10.4
pexpect==4.0.1
ptyprocess==0.5.1
pyparsing==2.0.7
python-chess==0.13.2
python-dateutil==2.4.2
pytz==2015.7
scikit-image==0.11.3
scikit-learn==0.17
scipy==0.17.0
six==1.10.0
